<section style="background: white">
    <div style="height: 30px;"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12" align="center">
            <h1>
                <u>TRAIN PNR STATUS</u>
            </h1>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <strong>PNR Number
                        <span>*</span>
                    </strong>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="pnrNumber">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-squared mr-2 mb-2 pull-left" (click)="getPnrStatus(pnrNumber);" style="margin-top: 20px;">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                        <h2>
                            <b>{{trainDetails?.train?.name}}&nbsp;( {{trainDetails?.train?.number}} )</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <h6>
                            <b>Origin Point:</b>{{trainDetails?.from_station?.name}}</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="right">
                        <h6>
                            <b>End Point:</b>{{trainDetails?.to_station?.name}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <h6>
                            <b>Boarding Point:</b>{{trainDetails?.boarding_point?.name}}</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="right">
                        <h6>
                            <b>Reservation Upto:</b>{{trainDetails?.reservation_upto?.name}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <h6>
                            <b>Journey Class:</b>{{trainDetails?.journey_class?.name}}({{trainDetails?.journey_class?.code}})</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="right">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover table-responsive" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Current Status</th>
                                    <th>Booking Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let train of trainDetails.passengers;">
                                    <td>{{train.no}}</td>
                                    <td>{{train.current_status}}</td>
                                    <td>{{train.booking_status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>