<article>
    <div class="container">
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12" align="center">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Indian_Railway.svg/1024px-Indian_Railway.svg.png" style="width: 150px;">
            </div>
        </div>
        <div style="height: 70px;"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Welcome To Indian Railways Information</h3>
                    </div>
                    <div class="panel-body">
                        <p style="font-size: 18px;">
                            Indian Railways is India's national railway system. Operated by the Ministry of Railways, IR carried 8.107 billion passengers
                            (more than 22 million passengers per day), transported 1.101 billion tons of freight, and had
                            8,500 stations in the 2015-16 fiscal year. It is the fourth-largest railway network in the world
                            by size, with 119,630 kilometres (74,330 mi) of total track and 92,081 km (57,216 mi) of running
                            track over a 66,687-kilometre (41,437 mi) route at the end of 2015-16.[2] Forty-five percent
                            of its routes are electrified with 25 kV AC electric traction. Its track is mostly broad gauge,
                            with short stretches of metre- and narrow-gauge track. Thirty-seven percent of its routes are
                            double- or multi-tracked.IR operates long-distance and suburban rail systems, and ran an average
                            of 13,313 passenger trains daily in 2015-16.
                        </p>
                        <button class="btn btn-primary btn-md pull-right" (click)=doLogin();>Click Here To Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
    <source src="assets/IndianRailwayMoving.mp4" type="video/mp4">
        type="video/mp4">
</video>