<section style="background: lightgrey;margin-top: -20px;">
    <ul class="nav nav-tabs" role="tablist" style="border-bottom:0;">
        <li class="nav-item active">
            <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#live-status" role="tab" aria-expanded="false">LIVE STATUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#trans-between-stations" role="tab" aria-expanded="false">TRAINS B/W STATIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#pnr-status" role="tab" aria-expanded="false">PNR STATUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#train-route" role="tab" aria-expanded="false">TRAIN ROUTE</a>
        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="live-status" role="tabpanel" aria-expanded="true">
            <liveStatus-page></liveStatus-page>
        </div>

        <div class="tab-pane " id="trans-between-stations" role="tabpanel" aria-expanded="true">
            <trainBwStations-page></trainBwStations-page>
        </div>

        <div class="tab-pane " id="pnr-status" role="tabpanel" aria-expanded="true">
            <pnrStatus-page></pnrStatus-page>
        </div>

        <div class="tab-pane " id="train-route" role="tabpanel" aria-expanded="true">
            <trainRoute-page></trainRoute-page>
        </div>
    </div>
</section>