<section style="background: white">
    <div class="row">
        <div class="col-lg-12 col-md-12" align="center">
            <h1>
                <u>TRAIN BW TWO STATIONS</u>
            </h1>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container" style="align-self:Center;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <strong>FROM STATION:
                            <span>*</span>
                        </strong>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="sourceStation" (keyup)="getSourceStationsList(sourceStation);">
                            <ul id="myUL" class="autocomplte-suggestion">
                                <li *ngFor="let srcstn of sourceStationsList.stations">
                                    <span (click)="getSourceStationCode(srcstn.code)">
                                        {{srcstn.name}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <strong>To STATION:
                            <span>*</span>
                        </strong>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="destinationStation" (keyup)="getSourceStationsList(destinationStation);">
                            <ul id="myUL" class="autocomplte-suggestion">
                                    <li *ngFor="let desstn of destinationStationsList.stations">
                                        <span (click)="getDestinationStationCode(desstn.code)">
                                            {{desstn.name}}
                                        </span>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <button type="button" class="btn btn-success btn-squared mr-2 mb-2 pull-left" (click)="getTrainNamebycodeForSourceStation(station1,station2);"
                            style="margin-top: 20px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                <h3>
                    <strong>Arrival Date:&nbsp;{{todayDate}}</strong>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>From Station</th>
                            <th>To Station</th>
                            <th>Train Name</th>
                            <th>Train Number</th>
                            <th>Scheduled Departs Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let train of trainDetails.trains;">
                            <td>{{train.from_station.name}}</td>
                            <td>{{train.to_station.name}}</td>
                            <td>{{train.name}}</td>
                            <td>{{train.number}}</td>
                            <td>{{train.src_departure_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>