#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
  .autocomplte-suggestion li{border: 1px solid #eaeaea;border-bottom:0;padding: 7px 15px;font-size: 14px;cursor: pointer;transition: all .3s ease; -webkit-transition: all .3s ease;}
  .autocomplte-suggestion li:hover{background: #fafafa;}
  