<section style="background: white">
    <div class="row">
        <div class="col-lg-12 col-md-12" align="center">
            <h1>
                <u>TRAIN CURRENT RUNNING STATUS</u>
            </h1>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <strong>Train Name
                        <span>*</span>
                    </strong>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="trainName">
                        <ul id="myUL" class="autocomplte-suggestion">
                            <li *ngFor="let rail of trains">
                                <span (click)="getTrainLiveStatus(rail.train.number)">
                                    {{rail.train.name}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-squared mr-2 mb-2 pull-left" (click)="getTrainNumber(trainName);"
                        style="margin-top: 20px;">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <h3>
                    <strong>{{trainDetails?.train?.number}}/{{trainDetails?.train?.name}}</strong>
                </h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <h3>
                    <strong>Start Date:&nbsp;{{trainDetails.start_date}}</strong>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <marquee>
                    <h3>{{trainDetails.position}}</h3>
                </marquee>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Station Name</th>
                            <th>Scheduled Arrival Date/Time</th>
                            <th>Actuval Arrival Date/Time</th>
                            <th>Scheduled Departs Date/Time</th>
                            <th>Actuval Departs Date/Time </th>
                            <th>Is Train Departed</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let train of trainDetails.route;">
                            <td>{{train.station.name}}</td>
                            <td>{{train.scharr_date}}/{{train.scharr}}</td>
                            <td>{{train.actarr_date}}/{{train.actarr}}</td>
                            <td>{{train.scharr_date}}/{{train.schdep}}</td>
                            <td>{{train.actarr_date}}/{{train.actdep}}</td>
                            <td>{{train.has_departed}}</td>
                            <td>{{train.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>