<section style="background: white">
    <div class="row">
        <div class="col-lg-12 col-md-12" align="center">
            <h1>
                <u>TRAIN CURRENT RUNNING STATUS</u>
            </h1>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <strong>Train Name
                        <span>*</span>
                    </strong>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="trainName">
                        <ul id="myUL" class="autocomplte-suggestion">
                            <li *ngFor="let rail of trains">
                                <span (click)="getTrainRoute(rail.train.number)">
                                    {{rail.train.name}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-squared mr-2 mb-2 pull-left" (click)="getTrainNumber(trainName);" style="margin-top: 20px;">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                        <h2>
                            <b>{{trainDetails?.train?.name}}&nbsp;( {{trainDetails?.train?.number}} )</b>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover table-responsive" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Day</th>
                                    <th>Station Name</th>
                                    <th>Scheduled Arrival</th>
                                    <th>Scheduled Departs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let train of trainDetails.route;">
                                    <td>{{train.no}}</td>
                                    <td>{{train.day}}</td>
                                    <td>{{train.station.name}}</td>
                                    <td>{{train.scharr}}</td>
                                    <td>{{train.schdep}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <marquee>
                    <h3>Train runs on: {{trainRunsOn}}</h3>
                </marquee>
            </div>
        </div>
    </div>
</section>