<div>
    <div style="background: lightblue;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" align="center">
                <h1>WELCOME</h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
<div style="height: 500px;"></div>