.card{
    //box-shadow: 2px 2px 2px 2px #888888;
    padding-top: 1px;
    border-right: 1px solid grey;
}

.table table-hover table-responsive,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
