<section style="background: white">
    <div class="row">
        <div class="col-lg-12 col-md-12" align="center">
            <h1>
                <u>CURRENT WHETHER INFORMATION</u>
            </h1>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <strong>City Name
                        <span>*</span>
                    </strong>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="cityName">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-squared mr-2 mb-2 pull-left" (click)="getWhetherInfo(cityName);" style="margin-top: 20px;">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div>
                        <h2>Whether in
                            <br>
                            <b>{{locationData.name}} ,
                                <br> {{locationData.region + "," + locationData.country}}</b>
                        </h2>
                        <img src={{getIconPath(forcastDayData?.condition?.icon)}} alt="">
                        <span style="font-size: 30px;">
                            {{forcastDayData.temp_c}}
                            <sup>o</sup>c
                        </span>
                        <h2 style="margin: 0px;">{{forcastDayData?.condition?.text}}</h2>
                        <h3 style="margin: 0px;">{{forcastDayData.time}}</h3>
                    </div>
                    <div style="height: 10px;"></div>
                    <div>
                        <table class="table table-hover table-responsive">
                            <tbody>
                                <tr>
                                    <th>Wind</th>
                                    <td>
                                        {{forcastDayData.wind_mph + " m/h , " + forcastDayData.wind_dir + "("+forcastDayData.wind_degree+")"}}
                                    </td>

                                </tr>
                                <tr>
                                    <th>Cloudiness</th>
                                    <td>{{forcastDayData.cloud}}</td>

                                </tr>
                                <tr>
                                    <th>Pressure</th>
                                    <td>{{forcastDayData.pressure_in}}</td>
                                </tr>
                                <tr>
                                    <th>Humidity</th>
                                    <td>{{forcastDayData.humidity}}</td>
                                </tr>
                                <tr>
                                    <th>Sunrise</th>
                                    <td>{{astroData.sunrise}}</td>
                                </tr>
                                <tr>
                                    <th>Sunset</th>
                                    <td>{{astroData.sunset}}</td>
                                </tr>
                                <tr>
                                    <th>Geo Coords</th>
                                    <td>[{{locationData.lat+","+locationData.lon}}]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <h2>Current weather and forecasts in your city</h2>
                <ul class="nav nav-tabs" role="tablist" style="border-bottom:0;">
                    <li class="nav-item active">
                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#main-graph" role="tab" aria-expanded="false">MAIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#daily-graph" role="tab" aria-expanded="false">DAILY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#hourly-graph" role="tab" aria-expanded="false">HOURLY</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="main-graph" role="tabpanel" aria-expanded="true">
                        <h4>Weather and forecasts in
                            <b>{{locationData.name + "," + locationData.country}}</b>
                        </h4>
                        <ul class="nav nav-tabs" role="tablist" style="border-bottom:0;">
                            <li class="nav-item active">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#temperature-graph" role="tab" aria-expanded="false">TEMPERATURE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#wind-graph" role="tab" aria-expanded="false">WIND</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#pressure-graph" role="tab" aria-expanded="false">PRESSURE</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="temperature-graph" role="tabpanel" aria-expanded="true">
                                <div class="temperature_line_chart"></div>
                            </div>

                            <div class="tab-pane " id="wind-graph" role="tabpanel" aria-expanded="true">
                                <div class="wind_line_chart"></div>
                            </div>

                            <div class="tab-pane " id="pressure-graph" role="tabpanel" aria-expanded="true">
                                <div class="pressure_line_chart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="daily-graph" role="tabpanel" aria-expanded="true">
                        <h4>Daily weather and forecasts in
                            <b>{{locationData.name + "," + locationData.country}}</b>
                        </h4>
                        <div class="daily_line_chart"></div>
                    </div>

                    <div class="tab-pane " id="hourly-graph" role="tabpanel" aria-expanded="true">
                        <div class="row" style="background: lightgrey;padding: 5px;">
                            <div class="col-lg-12 col-md-12">
                                <b>{{todayDateWithName}}</b>
                            </div>
                        </div>

                        <div class="row" style="border-bottom: 1px solid grey;" *ngFor="let value of forecastHourlyData">
                            <div class="col-lg-6 col-md-6">
                                <b>{{splitDateAndTime(value.time)}}</b>
                                <img src={{getIconPath(value?.condition?.icon)}} alt="">
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 10px;">
                                <span class="badge" style="padding-left: 10px;padding-right: 10px;">{{value.temp_c}}
                                    <sup>o</sup>C
                                </span>
                                <span>{{value?.condition?.text}}</span>
                                <br>
                                <span>{{value.wind_kph}}&nbsp;k/h</span>
                                <span>clouds:&nbsp;{{value.cloud}}&nbsp;%</span>
                                <span>{{value.pressure_in}}&nbsp;hpa</span>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="whether_line_chart"></div>
            </div>
        </div>
    </div>
</section>