<top-bar></top-bar>
<div style="height: 20px;"></div>
<router-outlet></router-outlet>

<div class="modal" id="spinner" tabindex="-1" role="dialog" aria-labelledby="" data-backdrop="static" data-keyboard="false"
    data-animation="false">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent;">
            <div class="modal-body">
                <div class="row">
                    <div class="animationload">
                        <div class="osahanloading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>